/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /******************************************** contact *****************************************/
    /**********************************************************************************************/

    .horaires {
        row-gap: 1rem;
    } 
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /******************************************** contact *****************************************/
    /**********************************************************************************************/

    .horaires-paragraph{
        width: 18.5vw;
    }

    .horaires {
        row-gap: 2rem;
    }
    
    .horaires-title,
    .adresseP-title, 
    .itinéraire-title,
    .contactForm-title {
        font-size: 1.7vw;
        letter-spacing: .04vw;
    }
    
    .horaires, 
    .adresseP {
        font-size: 1.4vw;
        line-height: 2.16vw;
        letter-spacing: .08vw;
        font-weight: 300;
    }
    
    .contact__map {
        margin-top: 1.25vw;
        margin-bottom: 1vw;
        height: 16.66vw;
        border-radius: .83vw;
    }

    .contactForm-title {
        margin-bottom: 2.3vw;
    }
}