/**********************************************************************************************/
/******************************************** contact *****************************************/
/**********************************************************************************************/

#contact {
    background: linear-gradient(rgb(10, 62, 88) 10%, rgba(58, 7, 7, 0.6), rgb(10, 62, 88));
}

.horaires-paragraph{
    margin: 0 auto;
    width: 62vw;
    height: auto;
}

.horaires {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: .5rem;
}

.horaires dt { font-weight: 500; }
.horaires dd { margin: 0; }
.horaires dd > span { display: block; } /* force chaque plage sur sa ligne */

.blueLink {
    display: block;
}

.link {
    color: rgb(54, 178, 255);
    filter: brightness(100%);
    transition: all ease .4s;
}

.link:hover {
    color: rgb(54, 178, 255);
    filter: brightness(140%);
    transition: all ease .4s;
}

.horaires-title, 
.adresseP-title,
.itinéraire-title,
.contactForm-title {
    text-align: center;
    font-weight: 600;
    font-size: 4.5vw;
}

.horaires, 
.adresseP {
    font-weight: 300;
    font-size: 4.2vw;
}

.adresseP {
    text-align: center;
}

.contact__map {
    margin-top: 3vw;
    margin-bottom: 2vw;
    border: 0;
    width: 100%;
    height: 47vw;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

.contactForm-title {
    margin-bottom: 5.3vw;
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /**********************************************************************************************/
    /******************************************** contact *****************************************/
    /**********************************************************************************************/

    .horaires-paragraph{ 
        width: 217px;
    }

    .horaires-title,
    .adresseP-title, 
    .itinéraire-title,
    .contactForm-title {
        font-size: 18px;
    }
    
    .horaires, 
    .adresseP {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
    }
    
    .contact__map {
        margin-top: 15px;
        margin-bottom: 10px;
        height: 200px;
    }

    .contactForm-title {
        margin-bottom: 25px;
    }
}