/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /********************************************* banner *****************************************/
    /**********************************************************************************************/

    .docs__container__item {
        border-radius: 1vw;
        padding: 1.5vw 3vw 1.5vw 3vw;
        margin-bottom: 3vw;
    }
}