/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /********************************************* error ******************************************/
    /**********************************************************************************************/

    .error__statut {
        font-size: 100px;
        margin-bottom: -15px;
    }
    
    .error__failled {
        width: 300px;
    }
    
    .error__subheader {
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    .error__link {
        font-size: 20px;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /********************************************* error ******************************************/
    /**********************************************************************************************/

    .error__statut {
        top: -1.66vw;
        font-size: 8.33vw;
        margin-bottom: -1.25vw;
    }
    
    .error__failled {
        width: 25vw;
    }
    
    .error__subheader {
        margin-bottom: .83vw;
        font-size: 1.66vw;
    }
    
    .error__link {
        font-size: 1.66vw;
        letter-spacing: .083vw;
    }
}