/**********************************************************************************************/
/********************************************* banner *****************************************/
/**********************************************************************************************/

.banner {
    position: relative;
    width: 100%;
    height: 186vw;
    background-color: black;
    padding-left: 6.5vw;
}

.banner-filtre {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 186vw;
    background: linear-gradient(rgb(6, 34, 48) 5%, rgba(87, 190, 242, 0.2), transparent, rgb(11, 63, 89));
    border-bottom: .5px solid rgba(36, 190, 246, .7);
    z-index: 1000;
}

.banner__title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 13vw;
    margin-left: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: "Arial", sans-serif;
    font-size: 5vw;
    line-height: 10vw;
    color: white;
    font-weight: 800;
    letter-spacing: .7vw;
    /*text-shadow: .45vw .35vw black;*/
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
    animation: reveal1 ease 4s normal forwards 1;
    z-index: 1000;
}

.banner__title__Vaulx {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
}

.banner__liberte { 
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    top: 32.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 4.5vw;
    line-height: 8vw;;
    letter-spacing: .3vw;
    text-shadow: 1px 1px 4px rgb(0, 0, 0, .3);
    /*text-shadow: .35vw .25vw black;*/
    color: white;
    z-index: 3000;
    animation: reveal1 ease 6s normal forwards 1;
}

.banner__programme {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 72vw;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-family: "Michroma-Regular";
    font-size: 3.8vw;
    font-weight: 700;
    letter-spacing: .5vw;
    color: white;
    cursor: pointer;
    z-index: 2000;
    animation: reveal2 1s ease 2.5s normal both;
    text-shadow: 1px 1px 4px rgb(0, 0, 0, .3);
}

@keyframes reveal1 {/*
    0%{opacity: 0;}
    100%{opacity: 1;}*/
}

@keyframes reveal2 {
    0%{margin-left: -100vw;}
    100%{margin-left: 0;}
}

.banner-icon {
    position: fixed;
    top: 164vw;
    text-align: center;
    width: 15vw;
    height: 16vw;
    right: 7.5vw;
    border-radius: 37%;
    filter: brightness(100%);
    transition: filter .4s;
    text-decoration: none;
    cursor: pointer;
    z-index: 3000;
}

.banner__icons__whatsapp {
    padding: 1.8vw 0 0 0;
    background: linear-gradient(rgb(70, 233, 132), rgb(49, 213, 111), rgb(34, 148, 78));
    font-size: 11vw;
    color: white;
}

.banner-icon:hover {
    filter: brightness(120%);
    transition: filter .4s;
}

.banner__picture {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-bottom: -2vw;
    filter: grayscale(20%);
}

.banner__picture2 {
    display: none;
}

.banner__picture--in {
    opacity: 7;
    transition: 2s;
}

.banner__picture--out {
    opacity: 0;
    transform: scale(1.08, 1.08);
    transition: all 2s ease;
}

.banner__logo-permis {
    position: absolute;
    width: auto;
    height: 20vw;
    z-index: 1000;
}

.banner__logo-ecq-label {
    bottom: 50vw;
}

.banner__logo-qualiopi {
    bottom: 26vw;
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /**********************************************************************************************/
    /********************************************* banner *****************************************/
    /**********************************************************************************************/
    
    .banner {
        height: 65vw;
        padding-left: 5vw;
    }

    .banner-filtre {
        margin-top: -1vw;
        height: 66vw;
    }
    
    .banner__title {
        top: 5vw;
        font-size: 3.5vw;
        line-height: 5vw;
        letter-spacing: .2vw;
    }

    .banner__liberte {
        top: 18vw;
        font-size: 2.5vw;
        line-height: 4vw;
        letter-spacing: .3vw;
    }

    .banner__programme {
        top: 31vw;
        font-size: 2.5vw;
        font-weight: 400;
        letter-spacing: .5vw;
    }

    .banner__icons {
        display: none;
    }

    .banner__picture2 {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        margin-bottom: -2vw;
    }

    .banner__picture {
        display: none;
    }

    .banner__logo-permis {
        bottom: 3vw;
        height: 11.2vw;
        right: 0;
    }

    .banner__logo-ecq-label {
        bottom: 3vw;
    }

    .banner__logo-qualiopi {
        margin-left: auto;
        margin-right: 15px;
    }

    .banner__logo-ecq-label {
        margin-right: 25vw;
    }
}

/********************************************* media queries ************************************************/
/*************************** New rules if the screen is at more 767px ***************************************/

@media screen and (min-width: 768px) {

    /**********************************************************************************************/
    /********************************************* banner *****************************************/
    /**********************************************************************************************/
    
    .banner {
        padding-left: 30px;
    }

    .banner__title {
        top: 6vw;
    }

    .banner__title__Vaulx {
        font-weight: 400;
    }

    .banner__liberte {
        top: 18.5vw;
        font-size: 2.8vw;
    }

    .banner__programme {
        top: 30vw;
        width: auto;
        font-size: 2.3vw;
        letter-spacing: 1.5px;
        padding-bottom: 1.8vw;
        border-bottom: .35vw solid transparent;
	    transition: border-bottom .8s, color .8s;
    }

    .banner__programme:hover {
        border-bottom: .35vw solid rgb(54, 178, 255);
	    transition: border-bottom .8s, color .8s;
    }

    .banner__logo-permis {
        height: 9vw;
    }

    .banner__logo-qualiopi {
        margin-left: auto;
        margin-right: 3vw;
    }

    .banner__logo-ecq-label {
        margin-right: 22vw;
    }
}