/**********************************************************************************************/
/***************************************** pages-headers **************************************/
/**********************************************************************************************/

.title-container {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 5vw;
    padding-bottom: 15vw;
    border-bottom: .5px solid rgba(36, 190, 246, .5);
    z-index: 100;
    overflow: hidden;
}

.title-container-background {
    background: linear-gradient(rgb(7, 41, 58), rgb(10, 62, 88));
}

h2 {
    position: relative;
    font-family: "Raleway-SemiBold";
    font-size: 6vw;
    letter-spacing: .4vw;
    color: white;
    text-align: center;
}

h2 > span {
    font-size: 8vw;
    color: rgb(255, 9, 29);
    font-weight: bold;
}

h3 {
    font-family: "Open", sans-serif;
    text-align: center;
    margin-top: -2vw;
    font-weight: 400;
    font-size: 4.5vw;
    line-height: 7vw;
    letter-spacing: .4vw;
    color: white;
}

.sub-title-text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 4.2vw;
    line-height: 7vw;
    letter-spacing: .4vw;
}

.sub-title-text:hover {
    color: white;
}

.sub-title-text--margin {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.underline {
    position: relative;
    width: 25vw;
    height: 1.2vw;
    background-color: rgb(255, 9, 29);
}

.under1 {
    left: 0;
    margin-top: 8vw;
}

.under2 {
    float: right;
    margin-top: 15vw;
}

.paragraph {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    margin-top: 15vw;
    margin-left: 6vw;
    margin-right: 6vw;
    font-weight: 300;
    font-size: 4.2vw;
    line-height: 6vw;
    text-align: left;
    letter-spacing: .4vw;
    color: white;
}


/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /**********************************************************************************************/
    /***************************************** pages-headers **************************************/
    /**********************************************************************************************/

    .title-container {
        padding-top: 40px;
        padding-bottom: 80px;
    }
    
    h2 {
        font-size: 25px;
        letter-spacing: 1px;
    }

    h2 > span {
        font-size: 35px;
    }
    
    h3 {
        margin-top: -5px;
        font-weight: 400;
        font-size: 16.5px;
        line-height: 18.5px;
        letter-spacing: 2px;
    }

    .underline {
        width: 30vw;
        height: 4px;
    }

    .under1 {
        margin-top: 42px;
    }

    .under2 {
        margin-top: 62px;
    }
    
    .paragraph {
        margin-top: 70px;
        margin-left: 6vw;
        margin-right: 6vw;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
    }

    .sub-title-text {
        font-size: 16px;
        line-height: 35px;
        letter-spacing: 1px;
    }

    .sub-title-text--margin {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 767px ****************************************/

@media screen and (min-width: 768px) {

    /**********************************************************************************************/
    /***************************************** pages-headers **************************************/
    /**********************************************************************************************/

    .paragraph {
        margin-left: 11vw;
        margin-right: 11vw;
    }

    .underline {
        width: 220px;
    }
}