/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /********************************************* footer *****************************************/
    /**********************************************************************************************/
    
    .footer > h1 {
        font-size: 2.5vw;
    }
    
    .footer__link {
        width: 20vw;
    }
    
    .footer__link__icon {
        font-size: 3vw;
    }
    
    .footer__logo-caravelle {
        width: 18vw;
        margin-top: 6vw;
    }
    
    .footer > p {
        font-size: 1.8vw;
        line-height: 3vw;
    }
    
    .footer__copyright {
        font-size: 1.8vw;
    }    
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /********************************************* footer *****************************************/
    /**********************************************************************************************/
    
    .footer > h1 {
        font-size: 2vw;
    }
    
    .footer__link {
        width: 15vw;
    }
    
    .footer__link__icon {
        font-size: 2vw;
    }
    
    .footer__logo-caravelle {
        margin-top: 5.5vw;
    }
    
    .footer > p {
        font-size: 1.6vw;
        line-height: 2.5vw;
    }

    .footer__partenaires {
        padding: 0 5vw auto 5vw;
    }

    .footer__partenaires__logo {
        height: 8vw;
        margin-bottom: 2.5vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }
    
    .footer__copyright {
        font-size: 1.6vw;
    }    
}