/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /****************************************** scrollToTop ***************************************/
    /**********************************************************************************************/

    .icon-position {
        top: 12.5vw;
        right: 2.08vw;
    }
    
    .icon-style {
        border-radius: .5vw;
        height: 4.16vw;
        width: 4.16vw;
    }
}