/**********************************************************************************************/
/****************************************** scrollToTop ***************************************/
/**********************************************************************************************/

.top-to-btm {
    position: relative;
    z-index: 2000;
}

.icon-position {
    position: fixed;
    top: 90vw;
    right: 7.5vw;
    z-index: 2000;
}

.icon-style {
    background-color: rgba(255, 9, 29, .7);
    border-radius: 2vw;
    height: 13vw;
    width: 13vw;
    color: rgb(239, 234, 237);
    cursor: pointer;
    transition: all .7s ease-in-out;
}

.icon-style:hover {
    animation: none;
    background: rgb(255, 9, 29);
    color: rgb(0, 31, 44);
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /**********************************************************************************************/
    /****************************************** scrollToTop ***************************************/
    /**********************************************************************************************/

    .icon-position {
        top: 150px;
        right: 25px;
        z-index: 3000;
    }
    
    .icon-style {
        border-radius: 6px;
        height: 50px;
        width: 50px;
    }
}