/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /********************************************* unEuro *******************************************/
    /**********************************************************************************************/

    .unEuro__filtre {
        font-size: 50px;
        line-height: 55px;
    }  
    
    .unEuro__filtre__text {
        width: 500px;
        margin-top: 35vw;
    }

    .docs__container--padding {
        padding-left: 37vw;
        padding-right: 37vw;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /********************************************* unEuro *******************************************/
    /**********************************************************************************************/
    
    .unEuro__filtre {
        font-size: 4.16vw;
        line-height: 4.58vw;
    }
    
    .unEuro__filtre__text {
        width: 50vw;
    }

    .docs__container--padding {
        padding-left: 40vw;
        padding-right: 40vw;
    }
}