/**********************************************************************************************/
/********************************************* unEuro *******************************************/
/**********************************************************************************************/

.unEuroEtCPF__filtre {
    background: linear-gradient(rgb(10, 62, 88) 5%, rgba(7, 41, 58, .6), rgb(7, 41, 58), rgb(10, 62, 88));
    border-bottom: .5px solid rgba(36, 190, 246, .5);
}

.docs__container {
    width: 100%;
}

.docs__container--padding {
    padding-left: 25vw;
    padding-right: 25vw;
}

.docs__container__item {
    margin: 0 auto;
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /**********************************************************************************************/
    /********************************************* unEuro *******************************************/
    /**********************************************************************************************/

    .unEuro__filtre {
        font-size: 35px;
        line-height: 45px;
    } 
    
    .unEuro__filtre__text {
        margin-top: 25vw;
    }

    .docs__container--padding {
        padding-left: 35vw;
        padding-right: 35vw;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 767px ****************************************/

@media screen and (min-width: 768px) {

    /**********************************************************************************************/
    /********************************************* unEuro *******************************************/
    /**********************************************************************************************/
    
    .unEuro__filtre__text {
        width: 300px;
        margin-top: 30vw;
    }
}