/**********************************************************************************************/
/********************************************** CGU *******************************************/
/**********************************************************************************************/

.cgu {
    padding: 10vw 7vw 10vw 7vw;
    background: linear-gradient(rgb(7, 41, 58), rgb(10, 62, 88));
    color: white;
}

.cgu__safbuddy {
    width: 120px;
    height: auto;
    margin-bottom: 5vw;
    z-index: 2000;
}

.cgu > h1 {
    font-family: "Raleway-Regular";
    margin-bottom: 15vw;
    text-align: center;
    width: 100%;
    padding-top: 10vw;
    padding-bottom: 10vw;
    color: rgb(10, 62, 88);
    background-color: white;
}

.cgu > h2 {
    margin-top: 8vw;
    margin-bottom: 8vw;
    font-size: 6.2vw;
    letter-spacing: .05vw;
}

.cgu > p {
    font-family: "OpenSans";
    font-size: 5vw;
    line-height: 7vw;
}

.cgu > ul> li {
    list-style: disc;
    margin-top: auto;
    margin-left: 3vw;
    font-size: 4.5vw;
    color: rgb(54, 178, 255);
    filter: brightness(100%);
    transition: all ease .4s;
}

.cgu > ul > li> a {
    color: rgb(54, 178, 255);
    font-weight: 500;
    filter: brightness(100%);
    transition: all ease .4s;
}

.cgu > ul > li:hover {
    filter: brightness(140%);
    transition: all ease .4s;
}

.cgu > div {
    font-size: 0;
    width: 100%;
    height: 1px;
    margin-top: 10vw;
    background-color: rgba(36, 190, 246, .5);
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /**********************************************************************************************/
    /********************************************** cgu *******************************************/
    /**********************************************************************************************/

    .cgu > h1 {
        margin-bottom: 5.926vw;
    }

    .cgu > h2 {
        margin-top: 3.555vw;
        margin-bottom: 3.555vw;
        font-size: 3.259vw;
        letter-spacing: .0163vw;
    }
    
    .cgu > p {
        font-size: 2.37vw;
        line-height: 3.555vw;
    }
    
    .cgu > ul > li {
        margin-left: 1.777vw;
        font-size: 2.074vw;
    }
    
    .cgu > div {
        margin-top: 5.926vw;
    }
}