/**********************************************************************************************/
/****************************************** background ****************************************/
/**********************************************************************************************/

.background {
	position: absolute;
    width: auto;
    height: auto;
    background-color: black;
    overflow: hidden;
    z-index: -1;
}

.background-mobile,
.background-desktop {
    position: fixed;
    margin: 0 auto;
    top: 0;
    height: auto;
    filter: brightness(100%);
}

.background-mobile,
.background-desktop {
    width: 100%;
}

.background-desktop {
    display: none;
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /**********************************************************************************************/
    /****************************************** background ****************************************/
    /**********************************************************************************************/

    .background-desktop {
        display: block;
        filter: brightness(100%);
    }

    .background-mobile {
    display: none;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 767px ****************************************/

@media screen and (min-width: 768px) {

    /**********************************************************************************************/
    /****************************************** background ****************************************/
    /**********************************************************************************************/

    .keyboard2 {
        display: block;
    }

    .background-mobile,
    .keyboard1 {
    display: none;
    }
}